.card {
	border: 2px solid grey;
	display: inline-block;
	padding: 20px 20px 20px 20px;
	background-color: blue;
}

.list-container {
	border: 1px solid grey;
	background-color: green;
	margin-top: 20px;
	margin-bottom: 20px;
}